* {
    margin: 0;
    padding: 0;
}
.header-image{
    background-image:url(../Images/whitebrick.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

.text-1 {
    position: absolute;
    top: 5px;
    left: 95px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1::after {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    content: "Portfolio";
    color: rgb(0, 0, 0);
    margin-left: 15px;
}
.navbar a:hover {
    background: black;
    color: white;
}
.header-image nav {
    padding-top: 95px;
    margin-right: 90px;
    border-right: 25px;
    float: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 27px;
}
.header-image nav ul {
    list-style-type: none;
}
.header-image nav ul li {
    display: inline-block;
    margin-left: 25px;
}
a:visited { 
    text-decoration: none; 
    color: rgb(0, 0, 0); 
   }

