* {
    margin: 0;
    padding: 0;
  }
  .container-fill {
    background-image:url(../Images/whitebrick.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 134px;
  
  }
  .container {
    position: relative;
    text-align: left;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .top-right {
    position: relative;
    top: -130px;
    left: 25px;
  }
  .Portfolio {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    top: -148px;
    left: 100px;
  }
  .header {
    text-align: center;
    background: black;
    color: white;
    font-size: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: both;
  }
  .navbar {
    background-image: url(../Images/whitebrick.jpeg);
    background-size: cover;
    height: 29px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
  }
  .navbar a:hover {
    background: black;
    color: white;
  }
  a:visited { 
    text-decoration: none; 
    color: rgb(0, 0, 0); 
  }
  nav ul {
    list-style-type: none;
    padding-top: 5px;
  }
  nav ul li {
    display: inline-block;
    margin-left: 50px;
  }
  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
  }  
  .main {
    background-color: #0151cc;
    background-image: url(../Images/Selfie.jpg);
    color: #fff;
    min-height: 400px;
    margin-right: 50%;
  }
  .container-2 {
    margin: 0 auto;
    padding: 0 30px;
    display: block;
  }* {
    margin: 0;
    padding: 0;
  }
  .container-fill {
    background-image:url(../Images/whitebrick.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 134px;
  
  }
  .container {
    position: relative;
    text-align: left;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .top-right {
    position: relative;
    top: -130px;
    left: 25px;
  }
  .Portfolio {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    top: -148px;
    left: 100px;
  }
  .header {
    text-align: center;
    background: black;
    color: white;
    font-size: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: both;
  }
  .navbar {
    background-image: url(../Images/whitebrick.jpeg);
    background-size: cover;
    height: 29px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
  }
  .navbar a:hover {
    background: black;
    color: white;
  }
  a:visited { 
    text-decoration: none; 
    color: rgb(0, 0, 0); 
  }
  nav ul {
    list-style-type: none;
    padding-top: 5px;
  }
  nav ul li {
    display: inline-block;
    margin-left: 50px;
  }
  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
  }  
  .main {
    background-color: #0151cc;
    background-image: url(../Images/Selfie.jpg);
    color: #fff;
    min-height: 400px;
    margin: auto;
  }
  .container-2 {
    margin: 0 auto;
    padding: 0 30px;
    display: block;
  }
  
/* to set at half width to include 2 pics, double .main and change twin to margin-left: 50%; (have not tested yet. Need to test grtid to see if better route.     */
.main 
    background-color: #0151cc;
    background-image: url(../Images/Selfie.jpg);
    color: #fff;
    min-height: 400px;
    margin-right: 50%;
  }
  .container-2 
    margin: 0 auto;
    padding: 0 30px;
    display: block;
  }
  